.product-container{
    display: flex;
    align-items: center;
    justify-content:center
 }

 .product-imagen{
    width: 35%;
    margin-right: 100px;
 }

 .product-info{
     padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px groove;
    border-bottom: 1px groove;
 }

 .span{
    margin-bottom: 10px;
 }