.navbar {
    float: left;
    display: flex;
    justify-content: space-between;
    list-style:none ;
    color: black;
    margin-right: 25px;
    margin-left: 450px;
    width: 100%;
}

.container-logo {
    width: 200px;
}

.container-logo img {
    width: 100%;
}

.container-item-list-cart {display: flex;flex-direction: column;}

.item-cart-prod {float: left;width: 355px;display: flex;padding: 10px;border-bottom: 1px solid #ccc;}

.cart-prod__image {width: 40%;}

.cart-prod__image img {width: 100%;}

.cart-prod__info {padding: 5px 15px;width: 70%;display: flex;flex-direction: column;justify-content: center;box-sizing: border-box;}

.cart-prod__action {display: flex;justify-content: center;align-items: center;width: 10%;}

.cart-prod__action button {background: none;border: none;}

.cart-prod__info p {font-size: 14px;font-weight: bold;margin-top: 0px;margin-bottom: 10px;}

.cart-prod__info span {font-size: 14px;margin-top: 0px;}
