@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

h1,h2,h3,h4,p,span,a,input, button, li {
  font-family: 'Lobster',swap;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: black;
}

.App-buttom{
  color: black;
}

.Card-pantalla{
  margin: 50px;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



button.button-filter-clean {
  font-family: 'Lato';
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}


.col-cart-table__head {display: flex;border-bottom: 1px solid #ccc;}

.col-cart-table__head h2 {font-size: 14px;width: 20%;}

.cart-table__content {display: flex;}
.cart-table__content-img {width: 10% !important;}

.cart-table__content-title {width: 30%;}

.cart-table__content-price, .cart-table__content-quantity {width: 20%;}
.cart-table__content > div {display: flex;justify-content: center;align-items: center;border-bottom: 1px solid #ccc;padding-bottom: 15px;}

.cart-table__content-title {flex-direction: column;}

.cart-footer {display: flex;justify-content: space-between;}


.cart-checkout-details button {background: black;border-radius: 40px;text-transform: none;color: white;font-family: 'Lato';padding: 10px 20px;margin-top: 15px;font-size: 14px;}